*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #434c56;
	overflow: auto;
}

h1{
	padding-top: 1em
}

p{
	padding: 1em;
	font-size: 15pt;
	margin: auto;
	max-width: 640px;
	

}


.page{
	width: 80%;
	background-color: #6e8091;
	margin:auto;
	padding: 20px;
	text-align: center;
	color: #e6ffff;
}
